/* VARIABLES */
:root{
  --blueAccent: #3982FD;
  --profileShadow: inset 0 0 6px 2px #555555;
}

/* GENERAL CLASSES */
  .container{
  margin: 0;
  padding: 0;
}
/* END GENERAL CLASSES */
html{
  height: 100%;
  position: relative;
}
body{
  height: 100%;
  position: relative;
  margin: 0; /* Removes the white spacing between the elements and margins */
  font-family: 'Anonymoys Pro' , monospace;
  font-size: 17px;
  background-image: url("../img/tic-tac-toe/tic-tac-toe.png"); /* Obtained from Subtle Patterns */
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 65px; /* To shove the footer to the bottom */
}
.active{ /* highlights the active tab in the navigation menu */
  background: #09DB09;
}
.active:hover{ /* prevents the active menu from becoming blue like the others */
  background: #09DB09;
}
/* HEADER STYLING */
  header{
  position: relative;
  top: 0; /* Will always adhere to the top */
  width: 100vw;
  height: 80px;
}
  header nav{
  position: relative;
  top: -17px;
  width: 100vw;
  box-shadow: 0 3px 3.5px .1px black;
}
  header ul{
  text-align: center;
  width: 100vw;
  display: flex;
  padding: 0;
}
  header li{
  display: inline-block;
  background-color: #0E5BDF;
  width: 25vw;
  margin: 0;
  border: 2px white solid;
}
  header nav a{
  color: black;
  padding: 0 8vw;
  width: 25vw;
  text-decoration: none; /* Removes the underline associated with links */
}

  /* BRANDING */
  #branding{
  background-color: white;
  border-bottom: 5px solid var(--blueAccent);
  height: 55px;
  background-image: linear-gradient(to right, white 40%, grey, black);
}
  #branding h1{
  position: relative;
  margin-top: 0; /* These margins spill over beyond the header */
  top: 10px;
  left: 3px;
  font-size: 2.6em;
}
  /* SEARCH FORM */
  header form{
  position: absolute;
  right: 2px;
  top: 20px;
}
  header input, header button{
  position: relative;
  top: 10%;
  right: 10%;
  height: 20px;
  width: 18vw;
}
  header button{
  height: 25px;
  width: 4vw;
  margin: 0;
}
  header li:hover{
  background: var(--blueAccent);
}
/* END HEADER STYLING */

  /* HOME */
.wrapper{
  background-color: rgba(40,45,50,.75);
  height: 550px;
  margin: 0 2.5vw;
  border-left: 2.5px solid var(--blueAccent);
  border-right: 2.5px solid var(--blueAccent);
  box-shadow: 0 0 8px 1px black;
  z-index: -10;
}
.imageSlideshow{
  position: relative;
  top: 90px;
  padding: 0 2.5vw 10px 2vw;
  height: 200px;
  width: 20vw;
}
.imageSlideshow h2{
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 0 2px 2px black;
  font-family: "Roboto Slab", monospace;
  top: 18px;
  font-size: 1.3em;
  width: 20vw;
  margin: 0;
}
.imageSlideshow img{
  position: relative;
  top: 140px;
  height: 200px;
  width: 20vw;
  z-index: -1;
  border: 2.5px solid var(--blueAccent);
  border-radius: 10%;
}
.imageSlideshow p{
  position: relative;
  top: 18px;
  left: .5vw;
  text-align: center;
  margin: 2px 0;
  color: white;
}
.imageSlideshow a[name="onClickImage"]{
  position: relative;
  bottom: 120px;
  z-index: 2;
  padding: 46px 0 134px 0;
}
#upcomingHacks{
  position: absolute;
  top: 102px;
  left: 28vw;
  width: 31vw;
}
#upcomingHacks h2{
  font-family: "Roboto Slab", monospace;
  color: white;
  text-shadow: 0 2px 2px black;
  margin: 0;
  text-align: center;
}
.hackDisplay{
  height: 60px;
  width: 30vw;
  border: 1.5px solid var(--blueAccent);
  margin: 6px 0;
  box-shadow: 0 0 5px 1px black;
  overflow: hidden;
}
.hackDisplay img{
  height: 59px;
  border-right: 1.5px solid var(--blueAccent);
}
.hackDisplay p{
  position: relative;
  bottom: 59px;
  left: 65px;
  font-size: .6em;
  z-index: 1;
  margin: 5px 0;
  color: white;
}
.hackDisplay:hover{
  margin-left: 15px;
}
#recentReviews{
  position: relative;
  bottom: 194px;
  left: 59vw;
  width: 33vw;
}
#recentReviews h2{
  position: relative;
  left: 25px;
  top: 40px;
  font-family: "Roboto Slab", monospace;
  color: white;
  text-shadow: 0 2px 2px black;
  margin: 0;
}
#recentReviews ul{
  position: relative;
  top: 42px;
  list-style-type: none;
  list-style-position:inside;
  margin-top: 0;
  padding:0;
}
#recentReviews li{
  display: inline-block;
}
.reviewSummary{
  height: 134px;
  width: 30vw;
  margin-top: 5px;
  box-shadow: 0 0 5px 1px black;
  background-color: white;
}
.reviewSummary:hover{
  margin-left: 15px;
}
#recentReviews img{
  position: relative;
  height: 62px;
  width: 10vw;
  background-image: linear-gradient(to left, var(--blueAccent), black 120%);
}
#recentReviews p{
  position: relative;
  height: 20.5px;
  font-size: .95em;
  width: 20vw;
  background-color: var(--blueAccent);
  bottom: 66px;
  left: 10vw;
  margin: 0;
  padding: 0;
  text-align: center;
  text-overflow: ellipsis;
}
#recentReviews .summaryP{
  position: relative;
  height: 73px;
  width: 30vw;
  left: 0;
  text-align: left;
  font-size: .7em;
  background-color: rgba(40,45,50,.75);
  text-overflow: ellipsis;
}
/* END HOME STYLING */

/* PROFILE PAGE STYLING */
.wrapper-alt{
  position: relative;
  background-color: rgba(40,45,50,.75);
  height: 701px;
  margin: 20px 18px 30px 18px;
  padding-bottom: 2vh;
  border: 2.5px solid var(--blueAccent);
  box-shadow: 0 0 10px 3px black;
  z-index: -10;
  color: black;
}
#user-info h2{
  position: relative;
  bottom: 226px;
  left: 25.3vw;
  padding: 30px 0;
  width: inherit;
  margin-right: 25.5vw;
  text-align: center;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  font-family: "Roboto Slab", serif;
  color: cyan;
  text-shadow: 2px 2px 1px black;
  background-color: rgba(39,87,107,.4);
  border-bottom: 2px 2px solid var(--blueAccent);
}
#user-info{
  height: 359px;
  background-color: #0D9DDB;
  border-bottom: 2px solid var(--blueAccent);
  box-shadow: var(--profileShadow);
}
#user-info p{
  position: relative;
  left: 26.5vw;
  bottom: 235px;
  font-size: .9em;
}
#user-info img{
  position: relative;
  width: 25vw;
  height: 200px;
  border-right: 2px var(--blueAccent) solid;
  border-bottom: 2px var(--blueAccent) solid;
  box-shadow: 2.5px 2.5px 5px .5px #555555;
  background-color: black;
}
#user-info span{
  color: cyan;
  text-shadow: 1px 1px 2px black;
}
#description p{
  position: relative;
  height: 151px;
  width: inherit;
  bottom: 200px;
  left: 0;
  padding-left: 5px;
  overflow-y: auto;
}
#user-reviews{
  position: relative;
  height: 360px;
  background-color: #207397;
  box-shadow: var(--profileShadow);
}
#review-flexbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.profile-review{
  position: relative;
  top: 10px;
  background-color: rgba(39,87,107,.8);
  height: 100px;
  width: 43.5vw;
  margin: 2.5px;
  overflow: hidden;
}
.profile-review h3, .profile-review p{
  margin: 6px 0;
  padding: 2px 0;
  text-align: center;
  color: #0D9DDB;
}
#load-more-reviews{
  position: relative;
  top: 10px;
  right: 3px;
  width: 100.5%;
  max-width: inherit;
  text-align: center;
  background-color: rgba(39,87,107,.9);
  box-shadow: 0 0 5px 2px #111111;
}
#load-more-reviews a{
  color: cyan;
}
/* END PROFILE PAGE STYLING */

/* LOGIN-AREA STYLING */
.login-area{
 height: 540px;
}
.login-box{
  position: relative;
  top: 85px;
  left: 26vw;
  background: grey;
  height: 120px;
  width: 40vw;
  padding: 120px 5vw;
  border-radius: 6%;
  text-align: center;
  box-shadow: 0 3px 2px 1px grey;
  background: rgba(0,0,0,.25);
}
.login-box label,.login-box input, .login-box button{
  position: relative;
  top: -30px;
  margin: 2px 0;
}
.login-box p{
  position: relative;
  bottom: 15px;
}
.login-box input{
  width: 30vw;
}
.login-box button{
  width: 14vw;
  position: relative;
  top: -20px;
}
.login-box a:hover{
  color: var(--blueAccent);
}
/* END LOGIN-AREA STYLING */

/* SIGNUP-AREA STYLING */
  .signup-area{
    height: 550px;
  }
  .signup-box{
    position: relative;
    top: 90px;
    left: 26vw;
    background: grey;
    height: 100px;
    width: 40vw;
    padding: 150px 5vw;
    border-radius: 6%;
    text-align: center;
    box-shadow: 0 3px 2px 1px grey;
    background: rgba(0,0,0,.25);
  }
  .signup-box label, input, button{
    position: relative;
    top: -50px;
    margin: 1% 0;
  }
  .signup-box input{
    width: 30vw;
  }
  .signup-box button{
    width: 14vw;
  }
  .signup-box a:hover{
    color: var(--blueAccent);
  }
/* END SIGNUP-AREA STYLING */

/* FOOTER STYLING */
  footer{
  font-family: 'Roboto Slab', serif;
  background-color: #345FA8;
  height: 65px;
  width: 100%;
  text-align: center;
  font-size: .6em;
  border-top: 1.2px solid var(--blueAccent);
  padding-bottom: 5px;
}
  footer ul{
  position: relative;
  bottom: 6px;
}
  footer li{
  display: block;
}
  footer p{
  color: white;
}
  footer a{
  text-decoration: none;
  margin: 4px;
  color: black;
}
/* END FOOTER STYLING */

/* MEDIA QUERIES */
@media (max-width: 600px){
  #branding{
  height: 7.6vh;
}
  #branding h1{
  font-size: 6vh;
}
    header input, header button{
    position: relative;
    top: -3px;
    right: 10%;
    height: 3vh;
    width: 18vw;
  }
    header button{
    height: 4.1vh;
    width: 5vw;
  }
  .rememberUser input{
    top: -3.7vh;
    left: -4vw;
  }
    header nav a{
    padding: 0 6vw;
  }
}

@media (max-width: 475px){
  #branding{
  height: 7.6vh;
}
  #branding h1{
  font-size: 4.2vh;
  top: 3.4vh;
}
    header input, header button{
    position: relative;
    top: -3px;
    right: 1vw;
    height: 3vh;
    width: 18vw;
  }
    header button{
    height: 4.1vh;
    width: 8vw;
  }
    header nav a{
    padding: 0 2.2vw;
    font-size: 14px;
  }
    .login-box input{
      width: 40vw;
    }
    .rememberUser input{
      top: -3.5vh;
      left: 2vw;
    }
  footer p, footer a{
  font-size: 8.2px;
}
  footer a{
  position: relative;
  bottom: .8vh;
}
}
