/* VARIABLES */
:root{
  --blueAccent: #3982FD;
}

/* GENERAL CLASSES */
  .container{
  margin: 0;
  padding: 0;
}
/* END GENERAL CLASSES */
html{
  min-height: 100%;
  position: relative;
}
body{
  min-height: 100vh;
  position: relative;
  margin: 0; /* Removes the white spacing between the elements and margins */
  font-family: 'Anonymoys Pro' , monospace;
  font-size: 17px;
  background-image: url("../img/tic-tac-toe/tic-tac-toe.png"); /* Obtained from Subtle Patterns */
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 10vh; /* To shove the footer to the bottom */
}
.active{ /* highlights the active tab in the navigation menu */
  background: #09DB09;
}
.active:hover{ /* prevents the active menu from becoming blue like the others */
  background: #09DB09;
}
/* HEADER STYLING */
  header{
  position: relative;
  top: 0; /* Will always adhere to the top */
  width: 100%;
  height: 14.0vh;
}
  header nav{
  position: relative;
  top: -17px;
  width: 100vw;
  box-shadow: 0 3px 3.5px .1px black;
}
  header ul{
  text-align: center;
  width: 100vw;
  display: flex;
  padding: 0;
}
  header li{
  display: inline-block;
  background-color: #0E5BDF;
  width: 25vw;
  margin: 0;
  border: 2px white solid;
}
  header nav a{
  color: black;
  padding: 0 8vw;
  width: 25vw;
  text-decoration: none; /* Removes the underline associated with links */
}

  /* BRANDING */
  #branding{
  background-color: white;
  border-bottom: 5px solid var(--blueAccent);
  height: 9.2vh;
  background-image: linear-gradient(to right, white 40%, grey, black);
}
  #branding h1{
  position: relative;
  margin-top: 0; /* These margins spill over beyond the header */
  top: 10px;
  left: 3px;
  font-size: 7.2vh;
}
  /* SEARCH FORM */
  header form{
  position: absolute;
  right: 2px;
  top: 20px;
}
  header input, header button{
  position: relative;
  top: 10%;
  right: 10%;
  height: 3vh;
  width: 18vw;
}
  header button{
  height: 4.1vh;
  width: 4vw;
  margin: 0;
}
  header li:hover{
  background: var(--blueAccent);
}
/* END HEADER STYLING */

  /* HOME */
.wrapper{
  background-color: rgba(40,45,50,.75);
  height: 90vh;
  margin: 0 2.5vw;
  padding-bottom: 2vh;
  border-left: 2.5px solid var(--blueAccent);
  border-right: 2.5px solid var(--blueAccent);
  box-shadow: 0 0 8px 1px black;
  z-index: -10;
}
.imageSlideshow{
  position: relative;
  top: 12vh;
  padding: 0 2.5vw 2vh 2.5vw;
  height: 60vh;
  width: 20vw;
}
.imageSlideshow h2{
  position: relative;
  text-align: center;
  font-family: "Roboto Slab", monospace;
  top: 3.2vh;
  font-size: 1.3em;
  width: 20vw;
  margin: 0;
}
.imageSlideshow img{
  position: relative;
  top: 19.2vh;
  height: 40vh;
  width: 20vw;
  z-index: -1;
  border: 2.5px solid var(--blueAccent);
  border-radius: 10%;
}
.imageSlideshow p{
  position: relative;
  top: -4vh;
  left: .5vw;
  text-align: center;
  margin: .5vh 0;
}
.imageSlideshow .fas{
  color: white;
  opacity: 1;
}
.imageSlideshow .fa-angle-left{
  position: relative;
  z-index: 1;
}
.imageSlideshow .fa-angle-right{
  position: relative;
  z-index: 1;
}
.imageSlideshow a[name="onClickLeftArrow"]{
  position: relative;
  top: 22.2vh;
  left: .2vw;
  padding: 18.3vh 0;
  z-index: 3;
}
.imageSlideshow a[name="onClickRightArrow"]{
  position: relative;
  bottom: 22.8vh;
  left: 19.3vw;
  padding: 18.3vh 0;
  z-index: 3;
}
.imageSlideshow a[name="onClickImage"]{
  position: relative;
  bottom: 19.3vh;
  z-index: 2;
  padding: 18.5vh 0;
}
#upcomingHacks{
  position: absolute;
  top: 17vh;
  left: 28vw;
  width: 31vw;
}
#upcomingHacks h2{
  font-family: "Roboto Slab", monospace;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-align: center;
}
.hackDisplay{
  height: 10vh;
  width: 30vw;
  border: 1.5px solid var(--blueAccent);
  margin: 1vh 0;
  box-shadow: 0 0 5px 1px black;
}
.hackDisplay img{
  height: 10vh;
  border-right: 1.5px solid var(--blueAccent);
}
.hackDisplay p{
  position: relative;
  bottom: 10vh;
  left: 10vw;
  font-size: .6em;
  z-index: 1;
  margin: .8vh 0;
}
.hackDisplay:hover{
  margin-left: 15px;
}
#recentReviews{
  position: relative;
  bottom: 59.5vh;
  left: 59vw;
  width: 33vw;
}
#recentReviews h2{
  position: relative;
  top: 5.8vh;
  font-family: "Roboto Slab", monospace;
  text-shadow: 0 1px 1px white;
  margin: 0;
}
#recentReviews ul{
  position: relative;
  top: 6.8vh;
  list-style-type: none;
  list-style-position:inside;
  margin-top: 0;
  padding:0;
}
#recentReviews li{
  display: inline-block;
}
.reviewSummary{
  height: 22.3vh;
  width: 30vw;
  margin-top: .65vh;
  box-shadow: 0 0 5px 1px black;
  background-color: white;
}
.reviewSummary:hover{
  margin-left: 15px;
}
#recentReviews img{
  position: relative;
  bottom: .1vh;
  height: 10vh;
  width: 10vw;
}
#recentReviews p{
  position: relative;
  font-size: .95em;
  width: 19.7vw;
  background-color: var(--blueAccent);
  bottom: 10.6vh;
  left: 10.3vw;
  margin: 0;
  padding: 0;
  text-align: center;
  text-overflow: ellipsis;
}
#recentReviews .summaryP{
  position: relative;
  height: 12.4vh;
  width: 30vw;
  left: 0vw;
  text-align: left;
  font-size: .7em;
  background-color: rgba(40,45,50,.75);
  text-overflow: ellipsis;
}
  /* END HOME STYLING */

/* LOGIN-AREA STYLING */
.login-area{
 height: 66vh;
}
.login-box{
  position: relative;
  top: 13vh;
  left: 26vw;
  background: grey;
  height: 19vh;
  width: 40vw;
  padding: 20vh 5vw;
  border-radius: 6%;
  text-align: center;
  box-shadow: 0 3px 2px 1px grey;
  background: rgba(0,0,0,.25);
}
.login-box label,.login-box input, .login-box button{
  position: relative;
  top: -4vh;
  margin: 1% 0;
}
.login-box p{
  position: relative;
  bottom: 4vh;
}
.login-box input{
  width: 30vw;
}
.rememberUser{
  display: flex;
}
.rememberUser span{
  position: relative;
  width: 200vw;
  top: -4vh;
  left: 2.5vw;
}
.rememberUser input{
  position: relative;
  top: -4vh;
  left: -5vw;
}
.login-box button{
  width: 14vw;
  position: relative;
  top: -3.5vh;
}
.login-box a:hover{
  color: var(--blueAccent);
}
/* END LOGIN-AREA STYLING */

/* SIGNUP-AREA STYLING */
  .signup-area{
    height: 66vh;
  }
  .signup-box{
    position: relative;
    top: 13vh;
    left: 26vw;
    background: grey;
    height: 19vh;
    width: 40vw;
    padding: 20vh 5vw;
    border-radius: 6%;
    text-align: center;
    box-shadow: 0 3px 2px 1px grey;
    background: rgba(0,0,0,.25);
  }
  .signup-box label, input, button{
    position: relative;
    top: -9vh;
    margin: 1% 0;
  }
  .signup-box input{
    width: 30vw;
  }
  .signup-box button{
    width: 14vw;
  }
  .signup-box a:hover{
    color: var(--blueAccent);
  }
/* END SIGNUP-AREA STYLING */

/* FOOTER STYLING */
  footer{
  position: absolute;
  font-family: 'Roboto Slab', serif;
  bottom: 0;
  background-color: #345FA8;
  height: 12vh;
  width: 100%;
  text-align: center;
  font-size: .6em;
  border-top: 1.2px solid var(--blueAccent);
  padding: 0;
}
  footer ul{
  position: relative;
  bottom: 6px;
}
  footer li{
  display: block;
}
  footer p{
  color: white;
}
  footer a{
  text-decoration: none;
  margin: 4px;
  color: black;
}
/* END FOOTER STYLING */

/* MEDIA QUERIES */
@media (max-width: 600px){
  #branding{
  height: 7.6vh;
}
  #branding h1{
  font-size: 6vh;
}
    header input, header button{
    position: relative;
    top: -3px;
    right: 10%;
    height: 3vh;
    width: 18vw;
  }
    header button{
    height: 4.1vh;
    width: 5vw;
  }
  .rememberUser input{
    top: -3.7vh;
    left: -4vw;
  }
    header nav a{
    padding: 0 6vw;
  }
}

@media (max-width: 475px){
  #branding{
  height: 7.6vh;
}
  #branding h1{
  font-size: 4.2vh;
  top: 3.4vh;
}
    header input, header button{
    position: relative;
    top: -3px;
    right: 1vw;
    height: 3vh;
    width: 18vw;
  }
    header button{
    height: 4.1vh;
    width: 8vw;
  }
    header nav a{
    padding: 0 2.2vw;
    font-size: 14px;
  }
    .login-box input{
      width: 40vw;
    }
    .rememberUser input{
      top: -3.5vh;
      left: 2vw;
    }
  footer p, footer a{
  font-size: 8.2px;
}
  footer a{
  position: relative;
  bottom: .8vh;
}
}
